<div class="search-form mt-4 ml-5">
    {{!-- "news.handlebars" file cung cap --}}
    <form method="post" action="news"> 
        <div class="form-group">
            <label for="search-input">Nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa...">
            <input type="text" name="fullname">
            <input type="text" name="age">
        </div>
        <button type="submit">Tim Kiem</button>
    </form>
</div>
